/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    font: normal 84% Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
}

a {
    color: rgb(0, 0, 170);
}

a:hover {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(168, 0, 168);
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: rgb(170, 170, 170);
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.header a.extra {
    color: rgb(170, 170, 170);
    margin-left: 1em;
}

.header a.extra:hover {
    color: rgb(0, 0, 0);
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: rgb(170, 0, 0);
}

.title a:hover {
    color: rgb(0, 0, 0);
}

.meta {
    color: rgb(170, 170, 170);
}

.footer {
    font-size: 80%;
    color: rgb(102, 102, 102);
    border-top: 4px solid rgb(238, 238, 238);
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: rgb(128, 133, 193);
}

.footer .contact a:hover {
    color: rgb(0, 0, 0);
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    width: 100%;
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(238, 238, 255);
    padding: 0 .4em;
}

.post ul,
.post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(238, 238, 255);
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.post pre.terminal code {
    background-color: rgb(51, 51, 51);
}

/* table */
table {
    margin-bottom: 1.5em;
    max-width: 100%;
    border-collapse: collapse;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.167);
}

table {
    border-collapse: collapse;
}

table thead>tr {
    background-color: rgba(249, 249, 249, 0.9);
}

table thead tr th {
    border: 1px solid rgba(0, 0, 0, 0.167);
    border-top: 0px none;
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 4px;
}

table tbody tr td {
    border: 1px solid rgba(0, 0, 0, 0.167);
    vertical-align: top;
    padding: 4px;
}

/* blockquote */
blockquote {
    background: rgb(249, 249, 249);
    border-left: 5px solid rgb(204, 204, 204);
    margin: 1.5em 5px;
    padding: 0.5em 7px;
}

blockquote p {
    display: inline;
}
