#!/bin/sh
#
# /etc/init.d/gnaiux
# Subsystem file for "Gnaiux" docker container
#

RETVAL=0
prog="gnaiux"

start() {
    echo -n $"Starting $prog:"
    docker start $prog
    echo
}

stop() {
    echo -n $"Stopping $prog:"
    docker stop -t 2 $prog
    echo
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo $"Usage: $0 {start|stop|restart}"
        RETVAL=1
esac
exit $RETVAL

